.App {
  text-align: center;
}

#name {

}

#value {

}

#stockLink {
  text-decoration: none;
  color: black;
}
#cardTitle {
  margin-top: 10px;
  font-size: 1.2em;
}
#cardText {
  margin-top: 10px;
  font-size: 1.1em;
}
#partCard {
  border: 2px solid blue;
  margin: 10px;
  width: 200px;
}
#stockPercentage {
  margin: 10px 0;
  color: red;
  font-size: 1.5em;
}

#flex-container {
  display: flex;
  width: 800px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


#details-container {
  display: flex;
  width: 80%;
}

#card {
  width: 25%;
}