.App {
  text-align: center;
}

#name {

}

#value {

}
#alertText {
  font-size: 1.4em;
}

#stockLink {
  text-decoration: none;
  color: black;
}
#cardTitle {
  margin-top: 10px;
  font-size: 1.2em;
}
#cardText {
  margin-top: 10px;
  font-size: 1.1em;
}
#partCard {
  border: 2px solid blue;
  margin: 10px;
  width: 200px;
}
#stockPercentage {
  margin: 10px 0;
  color: red;
  font-size: 1.5em;
}
#icon {
  font-size: 2em;
}

#name {
  font-size: 1.25em;
  font-weight: bold;
}

#value {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

#flex-container {
  display: flex;
  width: 800px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.chartDiv {
  margin-top: 20px;
  margin-right: 10px;
  width: 50%;
  height: 100%;
}

.chartsContainer {
  display: flex;
}

.chartTitle {
  font-size: 1.5em;
  font-weight: bold;
}

#details-container {
  display: flex;
  width: 80%;
  margin: 10px 20px;
  padding: 10px;
}

#card {
  width: 25%;
}